extends layout

block nav
    ul.nav.nav-pills.nav-stacked
        li.active
            a(href='/')
                | News
        li
            a(href='/tournaments.html')
                | Tournaments
        li
            a(href='/rankings.html')
                | Rankings

block content
    article
        img(src=post.img)
        a.title= post.title
        p.text= post.text
